TextField {
    -fx-border-style: none;
    -fx-background-color: lightsalmon , gray , gray;
    -fx-background-insets: 0 0 -1 -1, -1 -1 0 -2 , 0 0 0 0;
}

AnchorPane {
-fx-background-color: gray ;
}
.label {
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
   
   
}
Button{
    -fx-background-color: black;
    -fx-text-fill: white;
    
}
